<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Task Tracker</title>



<!--    <link href="../../static/filesCSS/landingAndProfilePages/landingPage.css" type="text/css" rel="stylesheet"/>-->
    <link href="/filesCSS/landingAndProfilePages/landingPage.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div>
    <ul>
        <a class="nav-link" th:href="@{/login}">Login</a>
        <a class="nav-link" th:href="@{/signup}">Register</a>
    </ul>
</div>
<span th:if="${successMessage}"
     id="flashPopup"
     class="alert alert-success"
     th:text="${successMessage}"
     style="
        background-color: white;
        top: 20px;
        right: 20px;
        z-index: 9999;
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
     ">
</span>


<div class="main">
    <div class="welcome">
    <pre><h1>                   WELCOME!

LET'S EXPLORE <i>STUDENT TASK TRACKER</i> TOGETHER </h1></pre>
    </div>
    <div class="img">

    </div>

</div>

<script src="/filesJS/landingAndProfilePages/landingPage"></script>
</body>
</html>
