<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Task Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/filesCSS/admin/taskDetailForAdmin.css" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-light">
<div class="container my-5">
    <h3 class="text-center mb-4">Task Details</h3>

    <p><strong>Student Name:</strong> <span th:text="${taskAssign.studentName}"></span></p>
    <p><strong>Task Name:</strong> <span th:text="${taskAssign.taskName}"></span></p>
    <p><strong>Deadline:</strong> <span th:text="${taskAssign.deadline}"></span></p>
    <p><strong>Progress:</strong> <span th:text="${taskAssign.progress}"></span></p>
    <div class="text-center mt-4">
        <button onclick="history.back()" class="btn btn-secondary">Back to Dashboard</button>
    </div>
</div>

 <!--<script src="/filesJS/admin/taskDetailForAdmin.js">
-->
<!--</script>-->
</body>
</html>
